@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-fill: toRgb(theme(colors.white));
    --color-text: toRgb(theme(colors.yellow.700));
    --color-button-fill: toRgb(theme(colors.yellow.300));
    --color-button-text: toRgb(theme(colors.yellow.700));
    --color-button-border: toRgb(theme(colors.yellow.700));
    --color-card-fill: toRgb(theme(colors.yellow.100));
    --color-card-border: toRgb(theme(colors.yellow.700));
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-fill: toRgb(theme(colors.black));
      --color-text: toRgb(theme(colors.yellow.200));
      --color-card-fill: toRgb(theme(colors.yellow.700));
      --color-card-border: toRgb(theme(colors.yellow.200));
    }
  }
}
